@import url('./variables.css');

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  width: 27%;
  border: 1px solid var(--text-color-black);
  align-items: center ;
}

.card_wrapper_header {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-around;
  padding: 4px 16px;
  align-items: center;
  color: var(--text-color-black);
}
#header_add {
    background-color: var(--background-header);
}
#header_inprogress {
    background-color: var(--background-inprogress);
}
#header_done {
    background-color: var(--background-done);
}
.card_status {
  display: flex;
  justify-content: space-between;
  width: 86%;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.counter_task {
  font-size: 24px;
}

.card_wrapper > button {
  width: 86%;
  height: 41px;
  padding: 6px;
  margin-bottom: 32px;
  cursor: pointer;
  border: 1px solid #000000;
box-shadow: 2px 2px 0px #000000;
font-weight: 500;
font-size: 24px;
line-height: 29px;
  color: var(--text-color-black);
}

#card_progress_add > button:hover,
#card_progress_add > button:active {
  background-color: var(--background-add);
}

#card_progress_add > button {
  background-color: var(--background-add);
}

#card_progress_done > button {
  background-color: var(--background-delete);
}
#card_progress_done > button:disabled {
  cursor: default;
}

#card_progress_done > button:active,
#card_progress_done > button:hover {
  background-color: var(--background-delete-hover);
  border: 1px solid var(--background-delete-hover);
}
#card_progress_done > button:disabled {
  opacity: 0.5;
}
#card_progress_inprogress > button {
  background-color: var(--background-done-btn);
}

#card_progress_inprogress > button:active,
#card_progress_inprogress > button:hover {
  background-color: var(--background-done-btn-hover);
  border: var(--background-done-btn-hover);
}
#card_progress_inprogress > button:disabled {
  opacity: 0.5;
  cursor: default;
}
