@import url("./variables.css");

#header {
  background-color: var(--background-header);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--background-header);
  color: var(--text-color-black);
}
#header > div {
  margin: 5px;
}
.header h3 {
  font-size: 20px;
  font-weight: 400;
}
.header_title {
  font-size: 25px;
}
.header_date {
  background-color: var(--background-body);
  padding: 5px;
  font-size: 15px;
  border: 1px solid #919294;
  color: var(--text-color-black);
}
.header_user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.current_users {
  display: flex;
  gap: 15px;
  align-items: center;
}
.current_users button {
  cursor: pointer;
  padding: 5px;
  border: 0;
  color: var(--text-color-black);
  height: 30px;
  width: 70%;
  background: var(--background-add-user);
}
.current_users button:hover {
  background: var(--background-delete);
}
.users {
  background-color: var(--background-body);
  color: var(--text-color-black);
  max-width: 150px;
  min-width: 85px;
  height: 25px;
  border: 0;
  font-size: 15px;
}

.users_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.user_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.user_form input {
  border: 0;
  padding: 0 5px;
  height: 30px;
  background-color: var(--background-input);
  color: var(--text-color-black);
}
.user_form button {
  cursor: pointer;
  font-size: 15px;
  padding: 0 5px;
  background: var(--background-add-user);
  color: var(--text-color-black);
}
.user_form button:hover {
  background: var(--background-add);
}
.header button:disabled {
  cursor: not-allowed;
  border: 2px solid var(--background-add-hover);
}
