body {
  --background-body: #fefaf1;
  --text-color-white: #fff;
  --text-color-black: #000;
  --background-add: #ffd2b1;
  --background-add-user: #dedede;
  --background-inprogress: #ffe977;
  --background-done: #dbef8a;
  --background-delete: #ff9559;
  --background-header: #ffd2b1;
  --background-user-active: #245953;
  --background-card: #fefaf1;
  --card-border-color: #919294;
  --card-description: #c3c3c3;
  --background-input: #fff;
}
:root {
  --dark-background-body: #2e2e2c;
  --dark-text-color-white: #000;
  --dark-text-color-black: #fff;
  --dark-background-add: #002d4e;
  --dark-background-add-hover: #46244c;
  --dark-background-done: #241075;
  --dark-background-done-hover: #e0aa67;
  --dark-background-header: #002d4e;
  --dark-background-modal: #535474;
  --dark-background-user-active: #241075;
  --dark-background-card: #2e2e2c;
  --dark-card-border-color: #1f024c;
  --dark-card-description: #280b45;
  --dark-background-delete: #006aa6;
  --dark-background-input: #2e2e2c;
  --dark-background-inprogress: #001688;
}
