body {
  --background-body: #fefaf1;
  --text-color-white: #fff;
  --text-color-black: #000;
  --background-add: #ffd2b1;
  --background-add-user: #dedede;
  --background-inprogress: #ffe977;
  --background-done: #dbef8a;
  --background-done-btn: #dbef8a;
  --background-done-btn-hover: #dbef8aae;
  --background-delete: #ff9559;
  --background-delete-hover: #ff9659ba;
  --background-add-hover: #ffd1b1ca;
  --background-header: #ffd2b1;
  --background-user-active: #245953;
  --background-card: #fefaf1;
  --card-border-color: #919294;
  --card-description: #c3c3c3;
  --background-input: #fff;
}
:root {
  --dark-background-body: #2f1b41;
  --dark-text-color-white: #000;
  --dark-text-color-black: #fff;
  --dark-background-add: #712b75;
  --dark-background-add-hover: #46244c;
  --dark-background-done: #d49b54;
  --dark-background-done-hover: #e0aa67;
  --dark-background-header: #712b75;
  --dark-background-modal: #535474;
  --dark-background-user-active: #d49b54;
  --dark-background-card: #433751;
  --dark-card-border-color: #1f024c;
  --dark-card-description: #280b45;
  --dark-background-delete: #c74b50;
  --dark-background-input: #46244c;
}
