body{
    --background-body: #fff;
    --text-color-white: #fff;
    --text-color-black: #000;
    --background-add: #FFD2B1;
    --background-add-user: #DEDEDE;
    --background-inprogress: #FFE977;
    --background-done: #DBEF8A;
    --background-done-btn: #DBEF8A;
    --background-done-btn-hover: #dbef8aae;
    --background-delete: #FF9559;
    --background-delete-hover: #ff9659ba;
    --background-add-hover: #ffd1b1ca;
    --background-header: #FFD2B1;
    --background-modal: #4E6E81;
    --background-user-active: #245953;
    --background-card: #fff;
    --card-border-color: #919294;
    --card-description:#c3c3c3;
    --background-input: #fff;
}
:root{
    --dark-background-body: #2F1B41;
    --dark-text-color-white: #000;
    --dark-text-color-black: #fff;
    --dark-background-add: #712B75;
    --dark-background-add-hover: #46244C;
    --dark-background-done: #D49B54;
    --dark-background-done-hover: #E0AA67;
    --dark-background-header: #712B75;
    --dark-background-modal: #535474;
    --dark-background-user-active: #D49B54;
    --dark-background-card: #433751;
    --dark-card-border-color: #1F024C;
    --dark-card-description:#280B45;
    --dark-background-delete:#C74B50;
    --dark-background-input: #46244C;
}
